:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --accent-second-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------------HEADER---------------- */

.site-header {
  display: flex;
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
}

.site-logo {
  margin-right: 93px;
  padding-left: 215px;
}
.contact-list {
  list-style: none;
  display: flex;
}

.site-header .container,
.site-nav,
.site-list,
.contact-header,
.contact,
.contact-item {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

/*
.site-list .site-item, 
.contact .contact-item  {
 outline: 1px solid black;}


.site-nav .site-list .site-item,
.contact .contact-item {
  background-color: rgb(203, 210, 157);
}
*/

.site-item:not(:last-child) {
  margin-right: 50px;
}

.site-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-link:hover,
.site-link:focus {
  color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus,
.contact-link-tel:hover,
.contact-link-tel:focus {
  color: var(--accent-color);
}

.site-list .site-link.current {
  color: var(--accent-color);
}

.contact-header {
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--accent-color);
}
.contact-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

/* -----------------------------HERO------------------------ */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #ffffff;
}

.hero-btn {
  display: inline-block;
  margin: 0 auto;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--accent-second-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ------------------------------ABOUT------------------------------- */
.about {
  background-color: #f5f5f5;
}
.about-list {
  list-style: none;
  display: flex;
  margin-top: 94px;
  margin-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1175;
}
.about-item {
  background-color: #f5f5f5;
  padding-right: 30px;
  margin: 0 auto;
}
.about-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.about-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}
.about-img {
  margin: 94px 215px;
}
.about-img-item {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1058px;
  background-color: #f5f5f5;
  padding-left: 30px;
  margin: 0 auto;
}
.about-img-item:first-child {
  padding-left: 0;
}
.about-img-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}
.about-img-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
}
/* ---------------------------------------TEAM--------------------------- */
.team-list {
  list-style: none;
  display: flex;
}
.team-list-item {
  background-color: #f5f4fa;
  padding-left: 30px;
  margin: 0 auto;
}
.team-list-item :first-child {
  padding-left: 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  text-align: center;
}
.team-list-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

/* -------------------------------FOOTER--------------------------- */
.footer {
  background: #2f303a;
}
.footer-contact-list {
  list-style: none;
}
.footer-logo {
  text-decoration: none;
  margin-top: 60px;
  padding-left: 215px;
}
.footer-logo :hover,
.footer-logo :focus {
  color: #2196f3;
}
.footer-logo-web {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-studio {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact {
  margin-left: 215px;
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact-list :hover,
.footer-contact-list :focus {
  color: #2196f3;
}
.footer-mail {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ---------------------------------PORTFOLIO----------------------------------- */
.list {
  list-style: none;
}
.buttons-list {
  display: flex;
  justify-content: center;
  max-width: 575px;
  flex-wrap: wrap;
  gap: 8px;
  cursor: pointer;
  margin: 0 auto;
}
.buttons-item-active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.buttons-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
}
.buttons-list :hover,
.buttons-list :focus {
  color: #2196f3;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-top: 34px;
  margin-bottom: 94px;
}
.projects-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.projects-item-after-title {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 50px;
}
